body {
    background-color: #FF6600;
}

.container {
    background-color:#f5f3ef;
    max-width: 400px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.main_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}